# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDEs
.idea/
*.iml
*.xml

# Env files and sensitive data
creds/.env
/ShopifyExtension/
Data/
chroma_store/
bucket
bucket/app.log
*.log

/beta 

!/ShopifyExtension/ai-chatbot/extensions/chatbot/assets
!/ShopifyExtension/ai-chatbot/extensions/chatbot/blocks