# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDEs
.idea/
*.iml
*.xml

# Env files and sensitive data
creds/.env
creds/*
!.gitignore  # allow a .gitignore inside creds, if needed

