# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDEs
.idea/
*.iml
*.xml

# Env files and sensitive data
creds/.env
/ShopifyExtension/
Data/
chroma_store/
bucket
bucket/app.log
*.log
/bucket
*.pkl
*.indexx
/beta 
faiss_index.*
app.log
!/ShopifyExtension/ai-chatbot/extensions/chatbot/assets
!/ShopifyExtension/ai-chatbot/extensions/chatbot/blocks
embed_job_data
/embed_job_out
embed_job_output
batch_response.json
output.jsonl
emb_job_out/*

bucket/app.log
batch_responses.json
openai_embeddings.index
*.index